Options -Indexes -MultiViews +FollowSymlinks
AddDefaultCharset UTF-8
ServerSignature Off
FileETag none

RewriteEngine On
RewriteBase /
RewriteCond %{ENV:REDIRECT_STATUS} ^$
RewriteCond %{THE_REQUEST} \s/([^.]*)\.php?\s [NC]
RewriteRule ^ %1? [R=301,L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{DOCUMENT_ROOT}/$1.php -f
RewriteRule ^(.*)/?$ /$1.php [QSA,L]

# For windows
#php_value include_path "C:\xampp\htdocs"

# For linux
php_value include_path "/opt/lampp/htdocs:."

php_value auto_prepend_file "api/api.php"