Options -Indexes -MultiViews +FollowSymlinks
AddDefaultCharset UTF-8
ServerSignature Off
FileETag none

RewriteEngine on

RewriteCond %{REQUEST_URI} !^/node_modules/
RewriteCond %{REQUEST_URI} !^/api/
RewriteCond %{REQUEST_URI} !^/storage/
RewriteCond %{REQUEST_URI} !^/index.php$
RewriteRule ^(.*)/?$ /index.php?page=$1 [L,QSA]