<p class="pt-3">
    <a href="https://deltarune.com/">Deltarune</a> je RPG vytvořené Tobym Foxem. Hráč ovládá člověka jménem Kris, který žije ve městě osídleném monstry.
    Kris a jeho spolužačka Susie spadnou do neznámého místa, zvané "Dark World" (Temný svět). Tam potkají prince Ralseie, který jim poví, že oba dva jsou hrdinové kteří mají zachránit svět.
    Všichni tři procházejí světem, zatímco poznávají obyvatele tohoto světa zvané "Darkners" při svém úkolu najít a zapečetit Temnou Fontánu, která ovlivňuje rovnováhu mezi tmou a světlem.
    Díky unikátnímu bojovému systému lze boje s nepřáteli vyřešit násilně i nenásilně.
</p>

<p>
    Hra vyšla prozatím ve čtyřech kapitolách, pátá má vyjít v roce 2026 a v dalších letech jsou plánovány ještě dvě, který příběh dokončí.
    Právě díky příběhu je hra velmi oblíbená a je ohledně jejích tajemství vymýšleno velké množství teorií a spekulací.
    Tato stránka si tedy dává za úkol spojit je na jedno místo a zároveň dát uživatelům prostor prosadit si právě svoji ideu pokračování.
</p>

<img src="/storage/assets/poster.webp" alt="Deltarune poster" class="img-fluid rounded mx-auto d-block">